
nav{
  display:flex;
  align-items: center;
  min-height: 5vh;
  background-color: black;
  color: white;
}
.navLinks{
  margin: 15px;
  margin-left: 100px;
  color: white;
  font: 16px;
}

.logo{
  height: 50px;
}
